label.FileUploader input[type="file"] {
	display: none;
}

label.FileUploader {
	font-size: 1rem;
	flex-shrink: 0;
	box-sizing: border-box;
	height: 25vh;
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--card-background);
	border: var(--card-border);
	border-radius: 6px;
	width: min(100%, 600px);
	align-self: center;
}
