html,
body {
	margin: 0px;
	padding: 0px;
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	width: 100%;
}
body {
	flex-direction: column;
	background: black;
	color: var(--text-color);
}

section.main {
	flex: 1 1 0px;
	order: 0;
	overflow: auto;
	padding: 1rem;
	display: flex;
	flex-direction: column;
}

header {
	flex: 0;
	order: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-top: var(--border);
	color: white;
}

progress {
	width: 100%;
	margin-top: 1rem;
}

@media (orientation: landscape) {
	body {
		flex-direction: row;
	}
	header {
		border-top: 0px;
		border-left: var(--border);
	}
}

button[type="icon"] {
	font-size: 1.5rem;
	padding: 0.5rem;
	background-color: transparent;
	border: 0px;
	border-radius: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	/* filter: grayscale(1) brightness(100); */
}
i.emoji-icon {
	font-style: normal;
	/* filter: grayscale(1) brightness(100); */
}

i.emoji-icon.flip {
	display: inline-block;
	transform: scaleX(-1);
}

label {
	font-size: 0.875rem;
	display: flex;
	flex-direction: column;
	font-weight: bold;
	padding-left: 0.25rem;
}

label input {
	margin-left: -0.25rem;
	box-sizing: border-box;
	font-size: 1rem;
	width: 100%;
	max-width: 100%;
	background: transparent;
	color: var(--text-color);
	border: var(--input-border);
	padding: 1rem;
	border-radius: var(--card-radius);
}

h1 {
	margin: 0px;
}
button {
	box-sizing: border-box;
	background: var(--button-background);
	border-radius: var(--card-radius);
	border: var(--button-border);
	color: var(--button-text);
	padding: 1rem;
	font-weight: bold;
	line-height: 1rem;
	font-size: 1.5rem;
}
flex-row {
	display: flex;
}
flex-column {
	display: flex;
	flex-direction: column;
}

[query] {
	display: none;
}

@media (orientation: landscape) {
	[query="landscape"] {
		display: unset;
	}
}
@media (orientation: portrait) {
	[query="portrait"] {
		display: unset;
	}
}
